<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/img/health.ico">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    *{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
    }
    html,
    body,
    header,
    #intro {
    height: 100%;
    }
    img {
    display: block;
    max-width: 100%;
    height: auto;
    }
    </style>
    <title>Liver Disease Prediction</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Health App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="heart.html">Heart Disease<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="kidney.html">Kidney Disease</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="diabetes.html">Diabetes</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="liver.html">Liver Diease</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="cancer.html">Cancer</a>
            </li>
          </ul>
        </div>
      </nav>
      <!--Mask-->
      <div id="intro" class="container-fluid view ">
        <h1 class="text-center text-capitalize pt-5">Know your chances of getting a liver disease in one Click!</h1>
        <hr class="w-75 mx-auto pt-5">
        <div class="row mb-5">
          <div class="col-lg-6 col-md-6 col-12 my-auto">
            <img src="../static/img/liver.jpg" class="float-left">
            
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <form action="{{ url_for('predict')}}" method="post">
              <div class="form-group">
                <!-- TODO : Year to accept only year date picker -->
                <label for="Total Bilirubin">Total Bilirubin</label>
                <input class="form-control" type="number" id="Total Bilirubin" name="Total Bilirubin" required="required" placeholder="Enter the Total Bilirubin">
              </div>
              <div class="form-group">
                <label for="Direct_Bilirubin">Direct Bilirubin</label>
                <input class="form-control" type="number" step="any" id="Direct_Bilirubin" name="Direct_Bilirubin" required="required" placeholder="Enter the Direct_Bilirubin">
              </div>
              <div class="form-group">
                <label for="Alkaline_Phosphotase">Alkaline Phosphotase</label>
                <input class="form-control" type="number" id="Alkaline_Phosphotase" name="Alkaline_Phosphotase" required="required" placeholder="Enter the Alkaline Phosphotase">
              </div>
              <div class="form-group">
                <label for="Alamine_Aminotransferase">Alamine Aminotransferase</label>
                <input class="form-control" type="number" id="Alamine_Aminotransferase" name="Alamine_Aminotransferase" required="required" placeholder="Enter the Alamine Aminotransferase">
              </div>
              <div class="form-group">
                <label for="Total_Protiens">Total Protiens</label>
                <input class="form-control" type="number" id="Total_Protiens" name="Total_Protiens" required="required" placeholder="Enter the Total Protiens">
              </div>
              <div class="form-group">
                <label for="Albumin">Albumin</label>
                <input class="form-control" type="number" id="Albumin" name="Albumin" required="required" placeholder="Enter the Albumin">
              </div>
              <div class="form-group">
                <label for="Albumin_and_Globulin_Ratio">Albumin and Globulin Ratio</label>
                <input class="form-control" type="number" id="Albumin_and_Globulin_Ratio" name="Albumin_and_Globulin_Ratio" required="required" placeholder="Enter the Albumin and Globulin Ratio">
              </div>           
              <button type="submit" class="btn btn-danger">Predict</button>
            </form>
          </div>
        </div>
      </div>
      <!--/.Mask-->
    </header>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>